*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 border: 0;
}

html{
 font-family: 'Barlow Condensed', sans-serif;
 font-family: 'Poppins', sans-serif;
 font-size: 62.5%;
 
}

body{
 background-image: url("../crew/background-crew-desktop.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100vh;
}

.main{
 width: 100%;
 height:83vh;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 150px 1fr 1fr;
 margin-top:20px;
}

.main-title{
 grid-area: 1/1/2/2;
 width: 100%;
 font-size: 3.5rem;
 font-family: 'Barlow Condensed', sans-serif;
 text-transform: uppercase;
 letter-spacing:3px;
 font-weight: bold;
 text-align: center;
 color: #fff;
 margin-top: 20px;
}

.main-title span {
 font-weight:500;
 color: rgb(138, 138, 138);
}

.main-info{
 grid-area: 2/1/3/2;
 width: 80%;
 place-self: center end ;
 margin-bottom: 15px;
}

.main-info h3{
 font-size:2.5rem;
 color: rgb(205, 205, 205);
 font-weight: 300;
}

.main-info h2{
 font-size: 5.5rem;
 color: #fff;
 font-weight: 500;
 font-family: 'Barlow Condensed', sans-serif;
 text-transform: uppercase;
 letter-spacing:3px;
}

.main-info p{
 font-size:2rem;
 line-height:3rem;
 font-weight: 300;
 color: rgb(205, 205, 205);
}

.main-sections{
 grid-area: 3/1/4/2;
 display:grid;
 width: 80%;
 justify-self:end;
 place-items:center start;
}
.main-sections div{
 width: 25%;
 min-width:120px;
 height: auto;
 display: flex;
 justify-content:space-between;
}

.main-sections div input[type="checkbox"]{
 display: none;
}
.main-sections div input[type="checkbox"] + label{
 width: 22px;
 height: 22px;
 background: rgb(138, 138, 138);
 border-radius: 100%;
 transition: 0.3s;
 cursor: pointer;
 
}

.main-sections div input[type="checkbox"]:checked + label{
 background:#fff;
 transform:scale(1.2);
 transition: 0.3s;
}

.main-img{
 grid-column: 2/3;
 grid-row: 1/4;
 display:grid;
 place-items:end center;
}

.main-img img{
 width:60%;
}

@media(max-width: 1170px){
 .nav-decoration{
  display: none;
 }
 .main-sections{
  place-items: start;
  margin-top:30px;
 }
}
@media(max-width: 987px){
 html{
   position: relative;
 }
 body {
   height: auto;
   background-image: url("../crew/background-crew-tablet.jpg");
 }
 .main{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
 }
 .main section{
  margin: 20px 0;
 }
 .main-sections{
  order: 3;
  justify-items:center;
 }
 .main-info{
  order: 4;
  text-align: center;
  width: 70%;
  min-width:320px;
 }
 .main-img{
  order: 2;

 }
 .main-img img{
  width: 70%;
 }
}

@media(max-width: 720px){
  .main-title{
   font-size:3rem;
  }
  .main-info h3{
   font-size:2.3rem;
   font-weight:500;
  }
  .main-info h2{
   font-size:3.5rem;
  }
  .main-info p{
   font-size:1.8rem;
   margin: 8px 0;
  }
}

@media(max-width:600px){
  body {
    
  background-image: url("../crew/background-crew-mobile.jpg");
 }
 .main-info{
   width: 90%;
 }
 .info-date{
   justify-content: center;
 }
}
@media(max-width:450px){
 .info-article h2{
   font-size: 6rem;
 }
 .info-article p{
   font-size:1.8rem;
 }
  .main-info p{
    width: 90%;
    margin: 0 auto;
  }
 .info-sections input[type="checkbox"] + label{
   font-size:1.6rem;
   font-weight:bolder;
 }
}